<body>
  <div class="container">
    <div class="row">
      <div class="span12">
        <%=  %>
        <h4 style="text-align:center;">Choose a token</h4>
        <p><a class="btn btn-large btn-block btn-primary" href="/scanner/edit/coffee">Coffee</a></p>
        <p><a class="btn btn-large btn-block btn-info" href="/scanner/edit/sat_lunch">Saturday Lunch</a></p>
        <p><a class="btn btn-large btn-block btn-success" href="/scanner/edit/sat_dinner">Saturday Dinner</a></p>
        <p><a class="btn btn-large btn-block btn-inverse" href="/scanner/edit/sat_beer">Saturday Beer</a></p>
        <p><a class="btn btn-large btn-block btn-danger" href="/scanner/edit/sun_breakfast">Sunday Breakfast</a></p>
        <p><a class="btn btn-large btn-block btn" href="/scanner/edit/sun_lunch">Sunday Lunch</a></p>
      </div>
    </div>
  </div>
</body>