*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
/spec/fixtures/vcr_cassettes/Importers_Eventbrite/*
**.orig
rerun.txt
pickle-email-*.html
config/*.yml
.DS_Store