<section id="alldone">
  <%= bootstrap_flash %>
  <h2>Thanks your all done :D</h2>
  <a href="/selfserve" class="primary" style="width: 80%; display: block;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  min-width: 70%;
  background-color: #2ECC71;
  border: #27AE60 1px solid;
  font-weight: bold;
  text-align: center;
  padding: 5%;
  ">Next attendee press here</a>
</section>