<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#"><%= @event.name %></a>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">Logged in as <%= @user.name %></p>
      </div><!--/.nav-collapse -->
      <div class="nav-collapse collapse">
        <%= button_to "Logout", {:controller => :sessions, :action => 'destroy' }, :method => :delete %>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
