---
http_interactions:
- request:
    method: get
    uri: https://www.eventbrite.com/json/user_list_events?app_key=1234&user_key=1234
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-service:
      - djc
    body:
      encoding: US-ASCII
      string: ! '{"events": [{"event": {"box_header_text_color": "FFFFFF", "link_color":
        "8D0000", "box_background_color": "F2EEE6", "timezone": "Europe/London", "box_border_color":
        "C0BDB6", "logo": "http://ebmedia.eventbrite.com/s3-s3/eventlogos/588571/260134068.png",
        "organizer": {"url": "http://www.eventbrite.com/org/134961161", "description":
        "", "long_description": "", "id": 134961161, "name": "Barcamp London"}, "background_color":
        "FFFFFF", "id": 260134068, "category": "", "box_header_background_color":
        "C0BDB6", "capacity": 230, "num_attendee_rows": 169.0, "title": "Barcamp London
        6", "start_date": "2009-03-28 09:00:00", "status": "Completed", "description":
        "<P><A HREF=\"http://staging.barcamplondon.org/about/\">BarCamp London 6</A>
        is a free-to-attend weekend <A HREF=\"http://staging.barcamplondon.org/about/\">unconference</A>
        for designers, developers and geeks of all types. See <A HREF=\"http://barcamplondon.org\"
        TARGET=\"_blank\">barcamplondon.org</A> for full\r\ndetails.</P>\r\n<P>BarCamp
        London 6 is a free-to-attend weekend unconference for\r\ndesigners, developers
        and geeks of all types.</P>\r\n<P>\r\nNote: <STRONG>THIS IS THE TICKET SIGNUP
        PAGE</STRONG>. You must sign up on this page when the tickets are available.
        </P>\r\n<P>Being signed\r\nup on here will <STRONG>GUARANTEE</STRONG> you
        entry to the event.</P>\r\n<P>\u00a0</P>", "end_date": "2009-03-29 17:00:00",
        "tags": "", "timezone_offset": "GMT+0000", "text_color": "8D0000", "title_text_color":
        "", "password": "", "tickets": [{"ticket": {"description": "For GirlGeeks
        etc", "end_date": "2009-03-23 09:00:00", "min": 1, "max": 10, "price": "0.00",
        "quantity_sold": 10, "visible": "false", "start_date": "2009-01-21 12:00:00",
        "currency": "GBP", "quantity_available": 10, "type": 0, "id": 8411795, "name":
        "Girl Geek Dinner"}}, {"ticket": {"description": "If money was given this
        is the pass to give in return", "end_date": "2009-03-23 09:00:00", "min":
        0, "max": 2, "price": "0.00", "quantity_sold": 3, "visible": "false", "start_date":
        "2009-02-15 14:05:00", "currency": "GBP", "quantity_available": 10, "type":
        0, "id": 8411246, "name": "Sponsor Pass"}}, {"ticket": {"description": "For
        Organizers, Helpers etc", "end_date": "20[...]
