<%= bootstrap_flash %>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">BarCamp Berkshire 2</a>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">Logged in as Kevin Prince</p>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <!--Actions-->
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <%= button_to 'Delete', :zebra_sessions, :method => :delete %>
          <li class="nav-header">Status:</li>
          <li><a href="#">Expected - (100)</a></li>
          <li><a href="#">Showed Up  - (100)</a></li>
          <li><a href="#">On Site - (100)</a></li>
          <li><a href="#">Off Site - (100)</a></li>
          <li><a href="#">Confirmed - (100)</a></li>
          <li><a href="#">Unconfirmed - (100)</a></li>
          <li><a href="#">Cancelled - (100)</a></li>
          <li class="nav-header">Badge Type:</li>
          <li><a href="#">Attendee - (100)</a></li>
          <li><a href="#">Sponsor - (100)</a></li>
          <li><a href="#">VIP - (100)</a></li>
          <li><a href="#">Crew - (100)</a></li>
          <li><a href="#">Manager - (100)</a></li>
        </ul>
      </div><!--/.well -->
      <a class="btn btn-block btn-success" href="manager-auth.html">Add Attendee</a>
    </div><!--/span-->
    <div class="span9">
      <h4>Attendee Search</h4>
      <hr>
      <form id="search-form" class="input-append" action="dashboard.html" type="post">
        <input id="search-box" 
               type="text" 
               data-provide="typeahead" 
               autocomplete="off" 
               class="input-xxlarge"
               placeholder="Start typing the name you are looking for:"
        >
        <button class="btn" type="button">Search</button>
      </form>
      
      
      <hr>
      
      <table id="attendees" class="table table-striped">
        <thead>
          <tr>
            <th>First Name 
              <i class="icon-arrow-up"></i>
              <i class="icon-arrow-down"></i>
              <i class="icon-resize-vertical"></i>
            </th>
            <th>Last Name 
              <i class="icon-arrow-up"></i>
              <i class="icon-arrow-down"></i>
              <i class="icon-resize-vertical"></i>
            </th>
            <th>Type 
             <i class="icon-arrow-up"></i>
             <i class="icon-arrow-down"></i>
             <i class="icon-resize-vertical"></i>
            </th>
            <th>Status 
             <i class="icon-arrow-up"></i>
             <i class="icon-arrow-down"></i>
             <i class="icon-resize-vertical"></i>
            </th>
            <th>&nbsp;</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Erin</td>
            <td>Bowen</td>
            <td>VIP</td>
            <td>Expected</td>
            <td><a class="btn" href="detail.html">View</a></td>             
          </tr>
        </tbody>
      </table>
    </div><!--/span-->
  </div><!--/row-->

  <hr>

  <footer>
    <p>&copy; Geeks of London 2013</p>
  </footer>

</div><!--/.fluid-container-->

