<%= render "zebra/navbar" %>

<div class="container">
  <%= form_tag(:zebra_wristband, :method => :put, :class => "form-signin") do %>  
    <h2>Registering <%= @attendee.name %></h2>
    <h4>Please scan the wristband</h4>
    <input type="password" name="wristband">
    <br>
    <button class="btn btn-large btn-primary" type="submit">Register</button>
  <% end %>

  

</div> <!-- /container -->