<div class="container">

  <%= form_tag("/", :method => "post", :class => "form-signin") do %>  
    <h2>Geeks of London On-Site</h2>
    <h4>Please scan your wristband</h4>
    <input type="password" name="wristband">
  <% end %>

</div> <!-- /container -->